/* Document classes*/
body {
    font-size:14px;
    font-family:verdana;
    background-color:white;
}

/*progressbar*/
#progressbar {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-padding-start: 0px;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #ff9900;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    text-align: center;
    float: left;
    position: relative;
}
#progressbar li:before {
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 20px;
    color: #FFFFFF;
    background: #ff9900;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ff9900;
    position: absolute;
    left: -38%;
    top: 20px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #CC7a00;
    color: white;
}


/* Slider classes */
.jqSliderGroup{
    margin:0;
    padding:0;
    background-color: red;
}
.jqItem{
    text-align: center;
    background-color: transparent;
}
.slick-slider{
    margin:0px !important;
    padding: 20px 0px;
}
#brickSelectProduct .slick-slider{
    margin:0px !important;
    padding: 20px 0px;
}

/* USERS */
.user {
    padding: 0px 25px;
}
.user .username, .user .booons {
    padding: 20px 0px;
}

/* Stat elements */
.statIcon {
    width:25%;
    float:left;
    padding:16.5px;
    height:75px;
    text-align: center;
}
.statText {
    width:25%;
    float:left;
    height:75px;
    padding:26px;
    text-align: center;
}
.statLine {
    width:75%;
    float:left;
    height:75px;
    padding:26px;
    background-color: #fff;
}

/* Buttons */
.jqNavItem {
    padding:10px;
    width: 10vw;
    line-height: 75px;
}

.colorShadeA1 {
    background-color:#B73438;  
    color:#ffffff;
}
.colorShadeA2 {
    background-color:#B7347A;    
    color:#ffffff;
}
.colorShadeA3 {
    background-color:#B334B7;    
    color:#ffffff;
}

.colorShadeB1 {
    background-color:#3438b7;    
    color:#ffffff;
}
.colorShadeB2 {
    background-color:#347ab7;    
    color:#ffffff;
}
.colorShadeB3 {
    background-color:#34b7b3;    
    color:#ffffff;
}

.colorShadeC1 {
    background-color:#38b734;    
    color:#ffffff;
}
.colorShadeC2 {
    background-color:#7ab734;    
    color:#ffffff;
}
.colorShadeC3 {
    background-color:#b7b334;    
    color:#ffffff;
}


.colorShadeD0 {
    background-color:#fff;    
    color:#B73438;
}

.colorShadeD1 {
    background-color:#fff;    
    color:#38b734;
}
.colorShadeD2 {
    background-color:#fff;    
    color:#000;
}

.jqFullButton {
    text-align: center;
    padding: 16.5px;
    float:none;
}
